[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AWoloszyn
[access "refs/for/refs/*"]
	read = group user/AWoloszyn
	push = group user/AWoloszyn
	label-Code-Review = -2..+2 group user/AWoloszyn
	label-Verified = -1..+1 group user/AWoloszyn
	rebase = group user/AWoloszyn
	removeReviewer = group user/AWoloszyn
	submit = group user/AWoloszyn
[access "refs/heads/*"]
	read = group user/AWoloszyn
	create = group user/AWoloszyn
	push = +force group user/AWoloszyn
	pushMerge = group user/AWoloszyn
[access "refs/tags/*"]
	push = +force group user/AWoloszyn
	pushTag = group user/AWoloszyn
	pushSignedTag = group user/AWoloszyn
[submit]
	action = cherry pick
